{% extends 'website/main.html' %}
{% load static %}

{% block content %}
<main class="page-wrapper">
    <div class="img-title-container">
        <img src="{% static 'images/machine3.jpg' %}" alt="Machine 3" class="info-image">
        <h1>Quem Somos</h1>
    </div>
    <div class="page-description">
        <h2>Quem somos</h2>
        <p>A JFG é uma empresa especializada na venda e manutenção de máquinas de costura industriais para a indústria têxtil,
             que se encontra há mais de 10 anos no mercado.</p>
    </div>
</main>
{% endblock content %}