{% extends 'website/main.html' %}
{% load static %}

{% block content %}
<main class="page-wrapper">
    <div class="img-title-container">
        <img src="{% static 'images/machine3.jpg' %}" alt="Machine 3" class="info-image">
        <h1>Loja</h1>
    </div>
    {% if machines %}
        <div class="machine-grid">
            {% for machine in machines %}
                <div class="machine-card">
                    <a href="{% url 'machine_detail' machine.slug %}">
                        <img src="{{ machine.images.first.image.url }}" alt="{{ machine.name }}" class="machine-image">
                        <h3>{{ machine.name }}</h3>
                        <p class="price"> Preço sobre consulta</p>
                    </a>
                </div>
            {% endfor %}
        </div>

        <!-- Pagination on larger screens -->
        <div class="pagination-wrapper">
            <div class="pagination">
                {% if machines.has_previous %}
                    <a href="?page={{ machines.previous_page_number }}" class="pagination-btn previous">Anterior</a>
                {% endif %}

                <span>Página {{ machines.number }} de {{ machines.paginator.num_pages }}</span>

                {% if machines.has_next %}
                    <a href="?page={{ machines.next_page_number }}" class="pagination-btn next">Próxima</a>
                {% endif %}
            </div>

        </div>

    {% else %}
        <div class="page-description">
        <p>Nenhuma máquina disponível no momento.</p>
    </div>
    {% endif %}
</main>
{% endblock content %}