{% load static %}

<header>
  <nav class="navbar">
    <div class="header-container">
      <!-- Logo -->
      <a onclick="closeMenu()" hx-get="{% url 'home' %}" hx-target="#content" hx-swap="innerHTML" class="navbar-brand">
        <img src="{% static 'images/jfg.png' %}" class="jfg-logo" alt="JFGCostura" />
      </a>

      <!-- Desktop Links -->
      <div class="navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a hx-get="{% url 'about' %}" hx-target="#content" hx-swap="innerHTML" class="nav-link">Quem somos</a>
          </li>
          <li class="nav-item">
            <a hx-get="{% url 'shop' %}" hx-target="#content" hx-swap="innerHTML" class="nav-link">Loja</a>
          </li>
          <li class="nav-item">
            <a hx-get="{% url 'contact' %}" hx-target="#content" hx-swap="innerHTML" class="nav-link">Contacte-nos</a>
          </li>
        </ul>
      </div>

      <!-- Mobile Menu Toggle Button -->
      <button class="hamburger-button" onclick="toggleMenu()" aria-label="Toggle Mobile Navigation">
        <i class="bi bi-list" id="hamburger"></i>
      </button>
    </div>

    <!-- Mobile Menu Overlay -->
    <div id="mobileMenuOverlay" class="mobile-menu-overlay">
      <button class="close-button" onclick="closeMenu()" aria-label="Close Mobile Menu">
        <i class="bi bi-x-lg"></i>
      </button>
      <a onclick="closeMenu()"  hx-get="{% url 'about' %}" hx-target="#content" hx-swap="innerHTML" class="menu-link">Quem somos</a>
      <a onclick="closeMenu()" hx-get="{% url 'shop' %}" hx-target="#content" hx-swap="innerHTML" class="menu-link">Loja</a>
      <a onclick="closeMenu()"  hx-get="{% url 'contact' %}" hx-target="#content" hx-swap="innerHTML" class="menu-link">Contacte-nos</a>
    </div>
  </nav>
</header>