/* WorkSans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset Styling */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

:root {
    --jfg-red: rgb(220 38 38);
    --dark-bg: rgb(12 10 9);
}

/* General Styling */
body,
html {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

button {
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

table {
    border-collapse: collapse;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 70%;
}

/* Transitions for smooth content update */
#content>* {
    opacity: 0;
    animation: fadeIn 0.7s ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Header Styling */
header {
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.header-container {
    max-width: 90%;
    margin: 0 auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.jfg-logo {
    max-width: 11rem;
}

.navbar-nav {
    display: flex;
    gap: 4rem;
}

.nav-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
}

.nav-link:hover {
    color: var(--jfg-red);
    transition: color 0.3s ease-in-out;
}

.hamburger-button {
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    color: #242323;
    font-size: 2rem;
}

/* Mobile Menu Overlay */
.mobile-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    height: max-content;
    width: max-content;
    background-color: white;
    padding: 2rem 1rem;
    box-shadow: -1px 1px 0 0 rgba(0, 0, 0, 0.1);
    z-index: 1000;
    translate: translateX(100%);
    visibility: hidden;
    opacity: 0;
    transition: transform 0.3s ease-in, opacity 0.3s ease-in;
    pointer-events: none;
}

.mobile-menu-overlay.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.close-button {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
}

.close-button i {
    font-size: 1.2rem;
    color: black;
}

.menu-link {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.65);
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    font-weight: 600;
}

.menu-link:hover {
    color: var(--jfg-red);
    transition: color 0.3s ease-in-out;
}

/* Footer Styling */
footer {
    background-color: var(--dark-bg);
    color: rgb(255 255 255);
    padding: 2rem 2rem;
    text-align: left;
    font-weight: 600;
    width: 100%;
    font-size: 0.9rem;
}

.footer-container {
    max-width: 95%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.footer-section {
    flex: 1;
    min-width: 10%;
}

.footer-heading {
    color: var(--jfg-red);
    padding-bottom: 0.3rem;
    font-size: 1.2rem;
}

.footer-copyright {
    color: rgb(107 114 128);
    line-height: 1.2;
    margin-top: 0.5rem;
    font-size: 0.8rem;
}

/* Social Links */
.social-link {
    font-size: 1.1rem;
    padding-right: 0.5rem;
}

.social-link:hover {
    color: rgb(203 213 225);
    transition: color 0.3s ease-in-out;
}

/* Home Page Containers */
.page-wrapper {
    display: flex;
    flex-direction: column;
}

.info-container {
    position: relative;
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.info-two-columns {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
}

.info-two-columns .info-image-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.info-two-columns .info-image {
    width: 50%;
    opacity: 1;
    z-index: 2;
}

.info-two-columns .info-content {
    width: 50%;
    padding: 2rem;
    background-color: var(--dark-bg);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
    margin: 0;
}

#shopButton {
    background-color: white;
    color: rgba(0, 0, 0, 1);
    padding: 1rem;
}

#shopButton:hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    transform: translateY(-3px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Image Styling */
.info-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.info-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Content Overlay */
.info-content {
    position: relative;
    z-index: 3;
    padding: 2rem;
    margin: 0 auto;
    text-align: center;

}

.info-content h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

.info-content p {
    font-size: 1.1rem;
}

/* Button Styling */
.button {
    background-color: rgb(153 27 27);
    color: white;
    padding: 0.5rem 1.5rem;
    text-decoration: none;
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.2rem;
    opacity: 100%;
}

.button:hover {
    opacity: 80%;
    transition: opacity 0.3s ease-in-out;
}

/* Marquee animation */
.marquee-container {
    overflow: hidden;
    white-space: nowrap;
    max-width: 85%;
    padding: 5rem 0;
    margin-inline: auto;
    display: flex;
    justify-content: center;
}

.marquee {
    display: inline-flex;
    width: max-content;
    animation: marquee 35s linear infinite;
}

.marquee img {
    height: 5vh;
    object-fit: contain;
    margin-inline: 2rem;
}

/* About Page Styling */

.img-title-container h1 {
    color: white;
    background-color: var(--dark-bg);
    padding: 1rem 2rem;
    font-size: 2rem;
    z-index: 3;
    font-weight: 600;
}

.page-description h2 {
    font-size: 1.7rem;
    font-weight: 600;
}

.page-description p {
    font-size: 1.1rem;
    margin-top: 1rem;
    text-align: justify;
}

.img-title-container img {
    z-index: 1;
}

.page-description {
    padding: 2rem 2rem;
    max-width: 90%;
    margin-inline: auto;
}

.img-title-container {
    position: relative;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.img-title-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Machine Styling */
.machine-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
    margin: 2rem;
}

.machine-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    overflow: hidden;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.machine-image {
    width: 100%;
    height: auto;
    aspect-ratio: 4 / 3;
    object-fit: cover;
}

.machine-card h3 {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: 700;
    padding-inline: 1rem;
}

.price {
    font-size: 1rem;
    font-weight: 500;
    padding: 1rem;
}

.pagination-wrapper {
    text-align: right;
    padding: 2rem;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 1rem;
}


.pagination-btn {
    background-color: var(--jfg-red);
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    position: absolute;
    display: inline-block;
}

.pagination-btn.previous {
    left: 0;
}

.pagination-btn.next {
    right: 0;
}

.pagination-btn:hover {
    background-color: rgb(153 27 27);
}

.pagination span {
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
}

.spacer {
    flex: 1;
}


/* Slider Styling */
.back-button {
    display: inline-block;
    margin-bottom: 2rem;
    color: #6c757d;
    font-size: 1.3rem;
    text-decoration: none;
}

.back-button:hover {
    color: #343a40;
    transition: color 0.3s ease-in-out;
}

.machine-detail-wrapper {
    max-width: 90%;
    margin: 0 auto;
    padding: 2rem;
}

.machine-detail-container {
    display: flex;
    gap: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

.slider {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}

.slider-container {
    flex: 1;
    max-width: 80%;
    height: auto;
    position: relative;
    aspect-ratio: 4 / 3;
    overflow: hidden;
    align-items: center;
}

.slider img {
    width: 100%;
    display: none;
    height: auto;
    object-fit: cover;
}

.machine-info h2 {
    font-weight: 700;
    margin-top: 0;
    font-size: 1.5rem;
}

.machine-info p {
    font-size: 1.3rem;
}

.machine-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

img.displaySlide {
    display: block;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 0.3rem 0.9rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Contact Form */
.contact-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2rem;
    padding: 1.2rem;
    gap: 3rem;
}

/* Styling for the form section */
.contact-form {
    flex: 1;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.form-control {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-control:focus {
    border-color: var(--jfg-red);
    border-width: 2px;
    outline: none;
    transition: border-color 0.3s, color 0.3s;
}

.btn-submit {
    background-color: black;
    color: white;
    padding: 0.8rem 1.2rem;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

.btn-submit:hover {
    background-color: #333;
}

.contact-info {
    flex: 1;
}

.contact-info a {
    text-decoration: underline;
}

.contact-container h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
    font-weight: 600;
}

.contact-container p {
    margin: 0.5rem 0;
    font-size: 1.1rem;
}

.form-control[type="textarea"],
textarea.form-control {
    resize: none;
}


/* Email Sent Page */
.email-sent-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2rem auto;
    text-align: center;
    padding: 1.2rem;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 50%;
}

h2.email-sent-title {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
    color: var(--jfg-red);
}

p.email-sent-text {
    font-size: 1.3rem;
    color: #555;
}

.error-message {
    color: var(--jfg-red);
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

/* Responsive Adjustments */

/* Tablets */
@media screen and (max-width: 1024px) {
    .jfg-logo {
        max-width: 10rem;
    }

    .navbar-nav {
        display: none;
    }

    .hamburger-button {
        display: block;
        font-size: 1.8rem;
    }

    .info-container {
        height: 50vh;
    }

    .info-content h2 {
        font-weight: 600;
        font-size: 1.2rem;
    }

    .marquee-container {
        padding: 4rem 0;
    }

    .marquee img {
        height: 4vh;
    }

    .marquee {
        animation: marquee 30s linear infinite;
    }

    .img-title-container h1 {
        font-size: 1.8rem;
    }

    .page-description h2 {
        font-size: 1.6rem;
    }

    .page-description p {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .machine-card h3,
    .contact-container p,
    .button {
        font-size: 1rem;
    }

    .price,
    .info-content p {
        font-size: 0.9rem;
    }

    .machine-info h2 {
        font-size: 1.3rem;
    }

    .machine-info p {
        font-size: 1.1rem;
    }

    .back-button,
    p.email-sent-text {
        font-size: 1.2rem;
    }

    .contact-container h2 {
        font-size: 1.5rem;
    }

    h2.email-sent-title {
        font-size: 1.4rem;
        margin-bottom: 0.8rem;
    }


}

/* Smaller screens and mobile */
@media screen and (max-width: 768px) {

    .email-sent-container {
        max-width: 80%;
    }

    .footer-content {
        gap: 0.5rem;
    }

    .navbar-nav {
        display: none;
    }

    .hamburger-button {
        display: block;
        font-size: 1.6rem;
    }

    .info-container {
        height: 40vh;
    }

    .info-content {
        padding: 1rem;
    }

    .button {
        padding: 0.4rem 1rem;
        font-size: 0.9rem;
    }

    .info-content h2 {
        font-weight: 600;
        font-size: 1.1rem;
    }

    .info-content p,
    .price {
        font-size: 0.8rem;
    }

    .marquee-container {
        padding: 3rem 0;
    }

    .marquee img {
        height: 3.5vh;
    }

    .marquee {
        animation: marquee 25s linear infinite;
    }

    .img-title-container h1 {
        font-size: 1.6rem;
    }

    .page-description h2 {
        font-size: 1.5rem;
    }

    .page-description p {
        font-size: 0.9rem;
        margin-top: 1rem;
    }

    .machine-card h3,
    .contact-container p {
        font-size: 0.9rem;
    }

    .machine-detail-container {
        flex-direction: column;
    }

    .slider-container {
        max-width: 100%;
    }

    .machine-info h2 {
        font-size: 1.2rem;
    }

    .machine-info p {
        font-size: 1rem;
    }

    h2.email-sent-title {
        font-size: 1.4rem;
        margin-bottom: 0.8rem;
    }

    .back-button,
    p.email-sent-text {
        font-size: 1.1rem;
    }

    .contact-container h2 {
        font-size: 1.4rem;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact-info:first-of-type {
        order: -1;
    }


    .contact-info:last-of-type {
        order: 0;
    }

    .contact-form {
        order: 1;
        max-width: 95%;
    }

}

@media screen and (max-width: 480px) {

    .footer-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .jfg-logo {
        max-width: 7rem;
    }

    .info-container {
        height: 30vh;
    }

    .info-content {
        padding: 1rem;
    }

    .button {
        padding: 0.2rem 0.8rem;
        font-size: 0.9rem;
    }

    .info-content h2 {
        font-weight: 600;
        font-size: 1rem;
    }

    .info-content p,
    .price {
        font-size: 0.7rem;
    }

    .info-two-columns .info-image {
        display: none;
    }

    .info-two-columns .info-content {
        width: 100%;
        padding: 2rem;
    }

    .marquee {
        animation: marquee 20s linear infinite;
    }

    .img-title-container h1 {
        font-size: 1.4rem;
    }

    .page-description h2,
    .contact-container h2 {
        font-size: 1.3rem;
    }

    .page-description p {
        font-size: 0.8rem;
        margin-top: 1rem;
    }

    .pagination-btn {
        font-size: 0.8rem;
        padding: 0.5rem;
    }

    .pagination span,
    .contact-container p,
    .machine-card h3 {
        font-size: 0.8rem;
    }

    .machine-info h2 {
        font-size: 1rem;
    }

    .machine-info p {
        font-size: 0.9rem;
    }

    .back-button,
    p.email-sent-text {
        font-size: 1.1rem;
    }

    h2.email-sent-title {
        font-size: 1.3rem;
        margin-bottom: 0.8rem;
    }

    .btn-submit {
        padding: 0.8rem 0.8rem;
        border: none;
        cursor: pointer;
        font-weight: 600;
    }
}